@model _02_Filmy.Models.Film

@{
   ViewBag.Title = "Detale";
}

<h2>Detale</h2>

<div>
    <h4>Film</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>            @Html.DisplayNameFor(model => model.Tytul)        </dt>
        <dd>            @Html.DisplayFor(model => model.Tytul)        </dd>
        <dt>            @Html.DisplayNameFor(model => model.DataWydania)        </dt>
        <dd>            @Html.DisplayFor(model => model.DataWydania)        </dd>
        <dt>            @Html.DisplayNameFor(model => model.Kategoria)        </dt>
        <dd>            @Html.DisplayFor(model => model.Kategoria)        </dd>
        <dt>            @Html.DisplayNameFor(model => model.Cena)        </dt>
        <dd>            @Html.DisplayFor(model => model.Cena)        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edycja", "Edycja", new { id = Model.ID }) |
    @Html.ActionLink("Powrót do listy", "Index")
</p>
