@model _05_Hello.Models.Uzytkownik
@{    ViewBag.Title = "Login";}

<h2>Login</h2>

<div>
   
   @*20-21*@
   @using (@Html.BeginForm("Zaloguj", "Autentykacja", FormMethod.Post))
   {
      <table>
         <tr>
            <td>@Html.LabelFor(c => c.NazwaUsera)</td>
            <td>@Html.TextBoxFor(x => x.NazwaUsera)</td>
            <td>@Html.ValidationMessageFor(x => x.NazwaUsera)</td>
         </tr>
         <tr>
            <td>@Html.LabelFor(c => c.Haslo)</td>
            <td>@Html.TextBoxFor(x => x.Haslo)</td>
            <td>@Html.ValidationMessageFor(x => x.Haslo)</td>
         </tr>
      </table>
      <input type="submit" name="bnSubmit" value="Login" />
   }

   @*17-19
   @Html.ValidationMessage("BledyWalidacji", new { style = "color:red;" })
   @using (@Html.BeginForm("Zaloguj", "Autentykacja", FormMethod.Post))
   {
      <table>
         <tr>
            <td>@Html.LabelFor(c => c.NazwaUsera)</td>
            <td>@Html.TextBoxFor(x => x.NazwaUsera)</td>
         </tr>
         <tr>
            <td>@Html.LabelFor(c => c.Haslo)</td>
            <td>@Html.TextBoxFor(x => x.Haslo)</td>
         </tr>
      </table>
      <input type="submit" name="bnSubmit" value="Login" />
   *@
</div>

@*21 *@
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

