@using _05_Hello.Models
@model Pracownik

@{   
   Layout = null;     
}

<!DOCTYPE html>
<html>
<head>
   <meta name="viewport" content="width=device-width" />
   <title>MyStronglyTypedView</title>
</head>
<body>
   <div>
      <b>Pracownik</b><br />
      Nazwa: @Model.Imie @Model.Nazwisko<br />
      @if (@Model.Pensja>15000)	{
		   <span style="background-color: yellow">
            Pensja: @Model.Pensja.ToString("C")
         </span>
	   }
      else { 
         <span style="background-color:green">
            Pensja: @Model.Pensja.ToString("C")
         </span>
      }
      


   </div>
</body>
</html>
