@using _05_Hello.ViewModel
@model EmployeeListViewModel
@{
   ViewBag.Title = "GetEmployeeViewModel";
}
<h2>GetEmployeeListViewModel</h2>

Hello @Model.UserName
<hr />
<div>
   <table>
      <tr>
         <th>Employee name</th>
         <th>Salary</th>
      </tr>
      @foreach (EmployeeViewModel item in @Model.Employees) {
         <tr>
            <td>@item.EmployeeName</td>
            <td style="background-color:@item.SalaryColor">@item.Salary</td>
         </tr>
      }
   </table>

</div>


@*Hello @Model.UserName
<div>
   <b>Employee Details</b><br />
   <span style="background-color:@Model.SalaryColor">
      Employee Salary: @Model.Salary
   </span>
</div>*@