<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8" />
   <title>@ViewBag.Title - My ASP.NET MVC Application</title>
   <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
   <meta name="viewport" content="width=device-width" />
   @Styles.Render("~/Content/css")
   @Scripts.Render("~/bundles/modernizr")
</head>
<body>
   <header>
      <div class="content-wrapper">
         <div class="float-left">
            <p class="site-title">@Html.ActionLink("MVSTest Filmy", "Index", "Filmy")</p>
         </div>
         <div class="float-right">
            <section id="login">
               @Html.Partial("_LoginPartial")
            </section>
            <nav>
               <ul id="menu">
                  <li>@Html.ActionLink("Home", "Index", "Home")</li>
                  <li class="submenu">@Html.ActionLink("Szukaj", "Szukaj", "Filmy")</li>
                  <li class="submenu">@Html.ActionLink("Filmy", "Index", "Filmy")</li>
                  @*<li class="submenu">
                     <ul>
                        <li>@Html.ActionLink("Nowy", "Nowy", "Filmy")</li>
                        <li>@Html.ActionLink("Detale", "Detale", "Filmy")</li>
                        <li>@Html.ActionLink("Edycja", "Edycja", "Filmy")</li>
                     </ul>
                  </li>*@
                  <li>@Html.ActionLink("Witamy", "Witamy", "Hello")</li>
                  <li>@Html.ActionLink("About", "About", "Home")</li>
                  <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
               </ul>
            </nav>
         </div>
      </div>
   </header>
   <div id="body">
      @RenderSection("featured", required: false)
      <section class="content-wrapper main-content clear-fix">
         @RenderBody()
      </section>
   </div>
   <footer>
      <div class="content-wrapper">
         <div class="float-left">
            <p>MM &copy; @DateTime.Now.Year - <a href="http://www.asp.net/mvc/tutorials/mvc-4/getting-started-with-aspnet-mvc4/intro-to-aspnet-mvc-4">Intro to ASP.NET MVC 4</a></p>
         </div>
      </div>
   </footer>

   @Scripts.Render("~/bundles/jquery")
   @RenderSection("scripts", required: false)
</body>
</html>
